streamlit
pandas
numpy
sqlite3
base64
smtplib
pyaudio
pydub
SpeechRecognition
gTTS
pyttsx3
streamlit-mic-recorder
streamlit-webrtc
ffmpeg
torch==2.6.0
torchvision==0.21.0
easyocr
pillow
av
bcrypt
googletrans==4.0.0-rc1
